#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #3c87a5;
    margin-top: 60px;
    margin: 50px auto;
    background: rgba(192, 204, 28, 0.301);
  }
  li {
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
  }